// Fonte principal
$font-family-base: 'Inter', sans-serif;

// Body
$font-body-md-semi-size: 18px;
$font-body-md-weight: 400;
$font-body-md-semi-weight: 600;
$font-body-md-bold-weight: 700;

$font-body-sm-size: 16px;
$font-body-sm-weight: 400;
$font-body-sm-semi-weight: 600;
$font-body-sm-bold-weight: 700;

$font-body-xs-size: 13px;
$font-body-xs-weight: 400;
$font-body-xs-semi-weight: 600;
$font-body-xs-bold-weight: 700;

// Heading
$font-heading-lg-size: 39px;
$font-heading-lg-weight: 700;

$font-heading-md-size: 31px;
$font-heading-md-weight: 700;

$font-heading-sm-size: 25px;
$font-heading-sm-weight: 700;
$font-heading-sm-semi-weight: 600;

$font-heading-xs-size: 20px;
$font-heading-xs-weight: 400;
$font-heading-xs-semi-weight: 600;
$font-heading-xs-bold-weight: 700;

// Pesos utilitários
$font-weight-regular: 400;
$font-weight-semi: 600;
$font-weight-bold: 700;
