@import "../../../styles/tokens";

.header {
  background: $color-primary;
  color: $color-text-on-primary;
  display: flex;
  justify-content: space-between;
  height: 96px;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1 1 auto;
  gap: $spacing-xl;
  padding-right: 390px;

  &__name {
    font-size: $font-body-sm-size;
    font-weight: $font-body-md-semi-weight;
    font-family: $font-family-base;
  }

  &__icon {
    background: $color-background;
    color: $secondary-700;
    font-size: $font-heading-md-size;
    width: $font-heading-lg-size;
    height: $font-heading-lg-size;
    border-radius: $border-radius-full;
    padding: $spacing-xxs;
  }
}

.menu-button {
  display: none;
}

@media  (max-width: 720px) {
  .user-info {
    display: none;
  }
  .menu-button {
    display: block
  }
}
