<mat-toolbar class="header">
  <button
    mat-icon-button
    class="menu-button"
    [matMenuTriggerFor]="menu"
    aria-label="Menu"
  >
    <mat-icon class="menu-button-icon mat-24" fontIcon="menu"></mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <ng-container *ngFor="let item of menuItems">
      <a
        mat-menu-item
        routerLinkActive="active"
        [routerLink]="item.route"
        [class.active]="item.active"
      >
        <span>{{ item.label }}</span>
        <hr />
      </a>
    </ng-container>
  </mat-menu>
  
  <div class="user-info-container">

    <div class="profile-menu-container">
      <div class="user-info">
        <span class="user-info__name">{{ name || 'Não identificado' }}</span>
        <button
          mat-icon-button
          class="profile-menu-trigger"
          (click)="toggleProfileMenu()"
          aria-label="Menu perfil">
          <mat-icon class="profile-menu-icon" fontIcon="person_outline"></mat-icon>
        </button>
      </div>

      <div 
        class="profile-menu" 
        [class.profile-menu--open]="isProfileMenuOpen"
        (click)="$event.stopPropagation()">
        <div class="profile-menu__header">
          <button 
            mat-icon-button 
            class="profile-menu__close"
            (click)="closeProfileMenu()">
            <mat-icon fontIcon="close"></mat-icon>
          </button>
        </div>
        
        <div class="profile-menu__content">
          <div 
            *ngFor="let item of profileMenuItems; let last = last" 
            class="profile-menu__item"
            [class.profile-menu__item--active]="item.action === 'account'"
            (click)="handleProfileMenuAction(item.action)"
          >
            <span class="profile-menu__item-text">{{ item.label }}</span>
            <div class="profile-menu__item-indicator" *ngIf="item.action === 'account'"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-toolbar>
