<mat-toolbar class="header">
  <button
    mat-icon-button
    class="menu-button"
    [matMenuTriggerFor]="menu"
    aria-label="Menu"
  >
    <mat-icon class="menu-button-icon mat-24" fontIcon="menu"></mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <ng-container *ngFor="let item of menuItems">
      <a
        mat-menu-item
        [routerLinkActive]="'active'"
        [href]="item.route"
        [class.active]="item.active"
      >
        <span>{{ item.label }}</span>
        <hr />
      </a>
    </ng-container>
  </mat-menu>
  <div
    class="user-info"
    id="user-info"
    (click)="temporaryName = name; isEditingName = true"
  >
    <ng-container *ngIf="!isEditingName; else editTemplate">
      <span class="user-info__name">{{ name }}</span>
      <mat-icon class="user-info__icon" fontIcon="person_outline"></mat-icon>
    </ng-container>

    <ng-template #editTemplate>
      <form (submit)="updateCustomerName(temporaryName)" class="edit-name-form">
        <input
          type="text"
          [(ngModel)]="temporaryName"
          name="name"
          class="edit-name-form__input"
          (click)="$event.stopPropagation()"
          (blur)="updateCustomerName(temporaryName)"
        />
        <mat-icon class="user-info__icon">edit</mat-icon>
      </form>
    </ng-template>
  </div>
</mat-toolbar>
