<mat-toolbar class="header header--menu">
  <button
    mat-icon-button
    class="menu-button"
    [matMenuTriggerFor]="menu"
    aria-label="Menu"
  >
    <mat-icon fontIcon="menu"></mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <ng-container *ngFor="let item of menuItems">
      <a mat-menu-item [href]="item.route" [class.active]="item.active">
        <span>{{ item.label }}</span>
      </a>
    </ng-container>
  </mat-menu>

  <span class="brand-logo">
    <img src="assets/Logo.svg" alt="Bytebank" height="24" />
  </span>
</mat-toolbar>
