@import '../../../styles/tokens';

:host {
  .header {
    height: 96px;
    width: 100%;
    background-color: $brand-950;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;

    span {
      color: $brand-500;
      cursor: pointer;
    }

    img {
      width: 145.69px;
      height: 32px;
    }

    .button-header {
      display: flex;
      gap: 24px;
    }

    .button-primary {
      background-color: $brand-500;
      color: $neutral-100;
    }

    .button-secondary {
      background-color: $brand-950;
      color: $brand-500;
      border-radius: 8px;
      border: 2px solid $brand-500;
    }

    .icon-header {
      display: flex;
      align-items: center;
      gap: 40px;
    }
  }

  @media (max-width: 720px) {
    .header {
      padding: 0 40px;
      height: auto;
      gap: 24px;

      img {
        width: 120px;
        height: 96px;
      }

      .icon-header,
      .button-header {
        gap: 24px;
      }
    }
  }

  @media (max-width: 360px) {
    .header {
      flex-direction: column;
      align-items: center;
      padding: 16px;
      gap: 16px;
      height: auto;

      img {
        width: 100px;
        height: 24px;
      }

      .button-header {
        display: none;
      }

      .icon-header {
        flex-direction: column;
        gap: 8px;
        width: 100%;
        align-items: center;

        span {
          display: none;
        }
      }
    }
  }
}
