@import 'styles/tokens';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-base;
  font-size: $font-body-sm-size;
  color: $color-text-primary;
  background-color: $color-background;
  line-height: 1.5;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

